.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-contact-link {
  font-style: normal;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
}
.footer-main-container {
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer-container {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((50% - 45px) / 2);
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.subscribe-container {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(50% - 15px);
    margin: 0;
  }
}
.footer-adress {
  text-align: center;
}
.join-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;

  color: #ffffff;

  @media screen and(min-width:1200px) {
    text-align: left;
  }
}
.our-adress {
  font-style: normal;
  color: #ffffff;
}
.footer-icon-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @media screen and(min-width:1200px) {
    justify-content: left;
  }
}
.team-icon-item {
  display: flex;
}
.footer-container .team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  border-radius: 50%;

  transition-duration: 250ms;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: 250ms;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--hover-focus-color);
}
.footer-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
.footer-form {
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.footer-input {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
  outline: none;
  margin-bottom: 20px;

  background-color: rgba(47, 48, 58, 01);
  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    width: 360px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-btn {
  position: relative;
  display: block;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.footer-btn-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
