.button {
  min-width: 200px;
  height: 50px;
  text-align: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  text-align: center;

  transition-duration: 250ms;

  color: #ffffff;
  background-color: var(--hover-focus-color);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
