.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  margin-right: 88px;
  padding-left: 15px;

  color: #212121;

  @media screen and (minwidth: 1200px) {
    margin-right: 93px;
    padding-left: 0;
  }
}
.bluelogo {
  color: #2196f3;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: center;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: #ffffff;
}
